:root {
  --active-color: #05EE00;;
  /* #05EE00; */
}

.header ul {
    display: flex;
    list-style: none;
    margin: 2vh 5vw;
    padding: 0;
    
  }
  
  .header li {
    /* font-weight: bold; */
    flex: 1;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.5s;
  }

  .header li:hover {
    /* border-bottom: 1px solid var(--active-color); */
    cursor: pointer;
  }

  .activeNav {
    border-bottom: 1px solid var(--active-color);
  }

  .lazyNav {
    border-bottom: 1px solid transparent;
  }

  @media screen and (max-width: 500px) {
    .header ul {
    display: grid;
    float: left;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 2vh 0;
    padding-left: 1vh;
    row-gap: 3vh;
    }

    .header li {
        padding-left: 1vw;
        text-align: left;
    }

    .header li:hover {
        border-bottom: 1px solid transparent;
        border-left: 1px solid var(--active-color);
        cursor: pointer;
      }
      
      .activeNav {
        border-left: 1px solid var(--active-color);
        border-bottom: 1px solid transparent;
      }
    
      .lazyNav {
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
  }