@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.hero {
    background-color: transparent;
    overflow: hidden;
}

.about {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0px;
  }
