@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: #121212;
    /* background: rgb(37,52,63);
    background: linear-gradient(0deg, rgba(37,52,63,1) 0%, rgba(36,49,58,1) 13%, rgba(34,40,45,1) 28%, rgba(33,38,42,1) 44%, rgba(33,37,40,1) 61%, rgba(32,32,32,1) 100%); */
    /* font-family: 'Rajdhani', sans-serif; */
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow:hidden;
}

.hero {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}

.carousel {
    height: 50rem;
}